<header class="site-header">
    <nav class="container">
      <div class="logo-container">
        <a href="index.html"><img src="/img/logo.png" class="logo"></a>
      </div>
      <ul class="nav-links">
        <li>
          <a href="cart.html" class="cart-link">
            <img src="./public/cart.svg" alt="cart icon" />
            <span class="cart-count"></span>
          </a>
        </li>
        <!-- <li id="login-li"><a href="login.html">Logga in</a></li>
        <li id="admin-li">
          <a href="admin/admin-Product.html" id="admin-link" style="display: none;">Admin </a>
          
        </li> -->
      </ul>
    </nav>
  </header>